<html>
  <style>
 body {
    background: <%= color %>;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
</style>
 <head>
  Web Guesser: can you guess the random number? Winner gets a free deep breadth first search ;)
</head>
<body>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
  <p>
    <%= check_guess  %>
  </p>
  <p>
   Tries left: <%= @@counter %>
  </p>
   <p>
      <%= try_again %>
  </p>
</body>
</html>
